body{
    background:linear-gradient(to left,#dff611,#f611d8)
}
.outLineBox{
background-color:white;
text-align: center;
display:grid;
grid-template-columns: repeat(15,1fr);
grid-template-areas: 5px;
}